.container {
  margin: 0 auto;
  width: 380px;
}

h2,
p {
  font-family: "Lato";
}

p {
  font-size: 1.25rem;
}

p span {
  color: #4caf50;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
}

label {
  display: inline-block;
  width: 3em;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
  font-family: "Lato";
}

#back-button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #f44336;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "Lato";
}
